/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Global Styles */
  body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #1f71a1;
    color: #fff;
  }
  
  .logo {
    font-size: 1.5rem;
  }
  
  .menu-toggle {
    display: none;
    cursor: pointer;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #fff;
  }
  
  .main-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  .content {
    flex: 1;
    max-width: 400px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
  }
  
  .content:hover {
    transform: translateY(-10px);
  }
  
  .content h2 {
    color: #1f71a1;
  }
  
  .image-box {
    flex: 1;
    margin-top: 20px;
    text-align: center;
  }
  
  .image-box img {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  .social-icons {
    list-style: none;
    display: flex;
    margin-top: 20px;
    justify-content: center;
  }
  
  .social-icons li {
    margin-right: 10px;
  }
  
  .social-icons .icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #1f71a1;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out;
  }
  
  .social-icons .icon:hover {
    transform: scale(1.2);
  }
  